$primary-color: rgb(0, 120, 218);
$secondary-color: rgb(228, 224, 224);
$good: rgb(110, 177, 80);
$medium: rgb(248, 161, 0);
$bad: rgb(189, 82, 82);
$light: ("0": rgb(240,240,240),
    "1": rgb(220,220,220),
    "3": rgb(200,200,200),
    "4": rgb(190,190,190),
    "5": rgb(140,140,140),
    "6": rgb(100,100,100),
    "7": rgb(60,60,60),
    "8": rgb(20,20,20)
    );

@mixin ease-transition($property: all, $time: .3){
    transition: #{$property} ease #{$time}s 0s;
}

@mixin header{
    font-size: 4rem;
    color: $primary-color;
}

@mixin input-style{
    outline: none;
    border: 1px solid map-get($light,"4");
    border-radius: 0;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    color: map-get($light,"7");
}

@mixin button_style{
    background: $primary-color;
    color: $secondary-color;
    padding: .5rem;
    border: none;
    font-size: 1.2rem;
    outline: none;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    @include ease-transition("background");
    &:hover{
        cursor: pointer;
        background: lighten($primary-color, 7.5);
    }
}